* {
    font-family: 'Tahoma';

    margin: 0;
}

h1 {
    margin: 0%;
}

html{
    height: 100%;
    width: 100%;
}

body {
    height: 600vh;
}

/* SEÇÃO WINDOWS XP */
.section_xp{
    height: 200vh;
}

.div_windowXp {
    height: 200vh;
    width: 100%;
    background-color: #0055EA;
    border-radius: 2vh 2vh 0vh 0vh;
}

/*Header*/
.header_xp {
    position: fixed;
    height: 12vh;
    width: 100%;
}

.div_header {
    background-color: #ffff;
}

.header_xp .div_headerTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 7vh;
    background: rgb(0, 85, 234);
    background: linear-gradient(0deg, rgba(0, 85, 234, 1) 0%, rgba(0, 0, 195, 0.989233193277311) 74%, rgba(0, 212, 255, 1) 100%);
    border-radius: 1.5vh 1.5vh 0vh 0vh;
}

.header_xp .div_headerTop p {
    padding-top: 1vh;
    color: #ffff;
    font-weight: 900;
    font-size: 20px;
    text-shadow: #000 1px 1px;
}

.header_xp .div_headerTop img {
    height: 5vh;
    margin: 1vh;
}

.header_xp .div_headerBot {
    display: flex;
    flex-direction: row;
    height: 5vh;
    background-color: #F2F2EC;
    margin: 0vh 1vh;
    border-bottom: #c1c1c1 solid 1px;
}

.header_xp .div_headerBot div {
    margin-left: 2vh;
}

.header_xp .div_headerBot p {
    padding: 1vh;
}

.header_xp .div_headerBot a {
    color: #000;
    text-decoration: none;
}

/* Fim header */

/* Social */
/* Windows XP*/
.div_home {
    display: flex;
    flex-direction: column;
    height: 88vh;
    margin: 0vh 1vh;
    padding-top: 12vh;
    background-color: #F2F2EC;
}

.div_home .div_cape {
    
    background-image: url('../img/xp_bg.jpg');
}

.div_cape h1{
    font-size: 40px;
    padding-top: 5vh;
    padding-left: 2vh;
    color: #ffff;
    text-shadow: #000 2px 2px 2px, #000 -2px -2px 2px;
}

.div_home .div_cape {
    height: 20%;
    width: 100%;
}

.div_home .div_content {
    display: flex;
    flex-direction: row;
    height: 80%;
}

.div_content article {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 10vh;
    padding-left: 5vh;
}

.div_content article p{
    font-size: larger;
    padding-bottom: 3vh;
}

.div_content .div_agent {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    width: 50%;
    background-color: #F2F2EC;
    padding: 5vh;
}

.div_agent img {
    height: 100px;
}

.div_home2 {
    height: 99vh;
    background-color: #F2F2EC;
    margin: 0vh 1vh 1vh 1vh;
}

.div_home2 .div_contentContainer {
    display: flex;
    flex-direction: row;
    padding: 5vh;
}

.div_home2 .div_contentContainer .img{
    display: flex;
    width: 25%;
    height: 90vh;
    border-left: 1vh solid #a9a9a9;
    border-top: 1vh solid #a9a9a9;
}

.div_home2 .div_contentContainer .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.div_home2 .div_contentContainer .div_content {
    width: 100%;
}

.div_home2 .div_contentContainer .div_content article {
    padding-left: 5vh;
    padding-right: 2vh;
}

.div_home2 .div_contentContainer .div_content article p{
    padding-bottom: 3vh;
    font-size: larger;
}

/* FIM SEÇÂO WINDOWS XP */

/* SEÇÂO WINDOWS 95 */
.section_95{
    height: 200vh;
}

.div_window95{
    height: 200vh;
    width: 100%;
    background-color: #bcbcbc;
}
/* Header */
.header_95 {
    /* position: fixed; */

    height: 15vh;
    width: 100%;
}

.header_95 .div_header {
    background: rgb(228,228,228);
background: linear-gradient(180deg, rgba(228,228,228,1) 5%, rgba(188,188,188,1) 14%, rgba(188,188,188,1) 30%);
    padding: 1vh;
}

.header_95 .div_headerTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 8vh;
    background-color: #0000AA;
}

.header_95 .div_headerTop p {
    color: #ffff;
    font-size: 20px;
    font-weight: 900;
}

.header_95 .div_headerTop img{
    height: 5vh;
    margin: 1vh;
}

.header_95 .div_headerBot {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #bcbcbc;
    height: 4vh;
    width: 100%;
}

.header_95 .div_headerBot div {
    margin-left: 2vh;
}

.header_95 .div_headerBot p {
    padding: 1vh;
}

.header_95 .div_headerBot a {
    color: #000;
    text-decoration: none;
}
/* Fim header */

.div_window95 .div_home {
    background-image: url('../img/win95_btfsky.jpg');
}
/* FIM SEÇÃO WINDOWS 95 */

/* SEÇÃO WINDOWS 7 */

/* FIM SEÇÃO WINDOWS 7 */