* {
    font-family: 'Tahoma';

    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('../assets/imgs/win95_btfsky.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.div_ico {
    padding-bottom: 2vh;
    padding-right: 90vh;
}

.div_ico img {
    position: absolute;
    height: 7vh;
}

.div_cadWindow {
    display: flex;
    flex-direction: column;

    height: 70vh;
    width: 90vh;
    background-color:  #0055EA;
    border-radius: 2vh 2vh 0vh 0vh;
}

.div_cadWindow .div_cadTop {
    display: flex;
    flex-direction: row;

    height: 7%;
    width: 100%;
    border-radius: 2vh 2vh 0vh 0vh;

    background: rgb(0, 85, 234);
    background: linear-gradient(0deg, rgba(0, 85, 234, 1) 0%, rgba(0, 0, 195, 0.989233193277311) 74%, rgba(0, 212, 255, 1) 100%);
}

.div_cadTop p {
    padding-left: 7vh;
    padding-top: 1vh;
    color: #ffff;
    font-weight: 900;
    font-size: 18px;
    text-shadow: #000 1px 1px;
}

.div_cadWindow .div_cadBot {
    display: flex;
    flex-direction: row;
    height: 92%;
    width: 98%;
    margin: 0vh 1vh 1vh 1vh;
    background-color: #F2F2EC;
}

.div_forms {
    width: 50%;
    height: 100%;
}

.obg_form {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.opt_form {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 50%;
    align-items: center;
}

.div_input label {
    padding-bottom: 0;
    font-size: 15px;
}

.div_cadBot .obg_form input, .opt_form input, select {

    height: 20px;
    width: 200px;
    border-left: #a9a9a9 solid 0.5vh;
    border-top: #a9a9a9 solid 0.5vh;
    border-right: 0;
    border-bottom: 0;
}

.opt_form label {
    margin-top: 10vh;
    margin-bottom: 1vh;
}

.opt_form input {
    width: 30vh;
    height: 10vh;
}

.div_check {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.div_check p {
    padding-left: 1vh;
    font-size: 12px;
}

.div_btn {
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    width: 200%;
}

button {
    height: 30px;
    width: 90px;
}

#div_aguardar {
    display: none;
    position: absolute;
    justify-content: center;
    width: 100%;
}

#div_aguardar img{
    height: 100px;
}
