* {
    font-family: 'Tahoma';

    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

.div_window {
    height: 313vh;
    width: 100%;
    background-color: #0055EA;
    border-radius: 2vh 2vh 0vh 0vh;
}

/*Header*/
header {
    position: fixed;
    height: 12vh;
    width: 100%;
}

.div_header {
    background-color: #ffff;
}

.div_headerTop {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 7vh;

    background: rgb(0, 85, 234);
    background: linear-gradient(0deg, rgba(0, 85, 234, 1) 0%, rgba(0, 0, 195, 0.989233193277311) 74%, rgba(0, 212, 255, 1) 100%);
    border-radius: 1.5vh 1.5vh 0vh 0vh;
}

.div_headerTop p {
    padding-top: 1vh;
    color: #ffff;
    font-weight: 900;
    font-size: 20px;
    text-shadow: #000 1px 1px;
}

.div_headerTop img {
    height: 5vh;

    margin: 1vh;
}

.div_headerBot {
    display: flex;
    flex-direction: row;

    height: 5vh;
    background-color: #F2F2EC;
    margin: 0vw 1vh;
    border-bottom: #c1c1c1 solid 1px;
}

.div_headerBot div {
    margin-left: 2vh;
}

.div_headerBot p {
    padding: 1vh;
}

.div_headerBot a {
    color: #000;
    text-decoration: none;
}

/* Fim header */

/* Social */

/* Home */
.div_home {
    display: flex;
    flex-direction: row;


    height: 88vh;

    margin: 0vw 1vh;
    padding-top: 12vh;
    background-color: #F2F2EC;
}

.div_article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
}

.div_article .div_title {
    justify-content: flex-start;

    width: 100%;
    padding-left: 10vh;
}

.div_article .div_text {
    justify-content: flex-start;

    width: 100%;
    margin-top: 3vh;
    padding-left: 10vh;
}

.div_article .div_text p {
    font-size: 24px;
}

.div_article .div_btn {
    display: flex;
    justify-content: center;

    width: 100%;
    margin-top: 3vh;
}

.div_article .div_btn button{
    height: 5vh;
    border: #69a0ff solid 1px;
    border-radius: 2px;

    cursor: pointer;
    
}

.div_img {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
}

.img {
    height: 90%;
    width: 80%;
    border-left: 1vh solid #a9a9a9;
    border-top: 1vh solid #a9a9a9;
}

.div_home .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Sobre */
.div_sobre {
    display: flex;

    height: 88vh;

    border: 1px solid black;
    margin: 0vw 1vh;
    padding-top: 12vh;
    background-color: #F2F2EC;
}

/* Contato */

.div_contato {
    display: flex;
 
    height: 88vh;

    border:1px  solid black;
    margin: 0vw 1vh;
    padding-top: 12vh;
    background-color: #F2F2EC;
}

/* Fim social */

/* Footer */
.div_footer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 13vh;

    background: rgb(0,85,234);
    background: linear-gradient(180deg, rgba(0,85,234,1) 0%, rgba(0,152,182,1) 61%, rgba(68,68,255,1) 100%);
}

.div_footer p {
    text-shadow: #000 1px 1px;
    color: white;
    padding: 20px;
}
/* Fim footer */